click>=8.0.0
fastapi[standard]>=0.110.0
pydantic
python-dotenv
slowapi
starlette>=0.40.3
tiktoken
tqdm>=4.67.1
joblib>=1.4
tomli
uvicorn>=0.29.0
tree_sitter==0.20.2
tree_sitter_languages==1.10.2
